<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Teacher list</h1>
    <ul>
        {%for data in teacher_list %}
       <li><a href="/classroom/teacher_detail/{{data.id}}">{{data.first_name}}{{data.last_name}}</a> </li><li><a href="/classroom/update_teacher/{{data.id}}">update</a>
       <a href="/classroom/delete_view/{{data.id}}">Delete</a></li>
    {% endfor %}
     </ul>
</body>
</html>